html {
  font-family: sans-serif;
  background: #d9ebf7;
}

.inbox {
  max-width: 400px;
  margin: 50px auto;
  background: white;
  border-radius: 5px;
  box-shadow: 10px 10px 0 rgba(30, 14, 206, 0.1);
}

.item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #cce0ef;
}

input:checked + p {
  background: #f3f9ff;
  text-decoration: line-through;
}

input[type="checkbox"] {
  margin: 20px;
}

p {
  margin: 0;
  padding: 20px;
  transition: background 0.5s linear;
  flex: 1;
  font-family: "helvetica neue";
  font-size: 20px;
  font-weight: 200;
  border-left: 1px solid #d1e2ff;
}
