* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --shadow: rgba(0, 0, 0, 0.362);
  --clear-text: rgba(88, 88, 88);
  --border: #e8e8e8d6;
}
body {
  background: radial-gradient(
      circle at 50% 100%,
      #c4e2da80 5%,
      #c4e2da 5% 10%,
      #c4e2da80 10% 15%,
      #c4e2da 15% 20%,
      #c4e2da80 20% 25%,
      #c4e2da 25% 30%,
      #c4e2da80 30% 35%,
      #c4e2da 35% 40%,
      transparent 40%
    ),
    radial-gradient(
      circle at 100% 50%,
      #c4e2da80 5%,
      #c4e2da 5% 10%,
      #c4e2da80 10% 15%,
      #c4e2da 15% 20%,
      #c4e2da80 20% 25%,
      #c4e2da 25% 30%,
      #c4e2da80 30% 35%,
      #c4e2da 35% 40%,
      transparent 40%
    ),
    radial-gradient(
      circle at 50% 0%,
      #c4e2da80 5%,
      #c4e2da 5% 10%,
      #c4e2da80 10% 15%,
      #c4e2da 15% 20%,
      #c4e2da80 20% 25%,
      #c4e2da 25% 30%,
      #c4e2da80 30% 35%,
      #c4e2da 35% 40%,
      transparent 40%
    ),
    radial-gradient(
      circle at 0 50%,
      #c4e2da80 5%,
      #c4e2da 5% 10%,
      #c4e2da80 10% 15%,
      #c4e2da 15% 20%,
      #c4e2da80 20% 25%,
      #c4e2da 25% 30%,
      #c4e2da80 30% 35%,
      #c4e2da 35% 40%,
      transparent 40%
    );
  background-size: 3em 3em;
  background-color: #ffffff;
  opacity: 1;
  font-family: "helvetica neue", sans-serif;
}
.form {
  width: 90vw;
  max-width: 500px;
  margin: 100px auto;
}

.form_input {
  width: 100%;
  height: 80px;
  padding: 10px;
  letter-spacing: 2.5px;
  font-size: 1.5rem;
  text-align: center;
  color: var(--clear-text);
  border: 10px solid var(--border);
  border-radius: 8px;
  top: 12px;
  position: relative;
}
.form__suggestions {
  width: 90%;
  margin: auto;
  list-style: none;
}

.form__suggestions > li {
  height: 60px;
  position: relative;
  padding: 20px 30px;
  margin-bottom: 0.5px;
  border-radius: 2px;
  box-shadow: 0px 12px 19px 1px var(--shadow);
}
.form__suggestions > li:nth-child(odd) {
  transform: perspective(100px) rotateX(-3deg) translateY(3px);
  background: linear-gradient(to top, #e2e2e2 0%, #ffffff 100%);
}

.form__suggestions > li:nth-child(even) {
  transform: perspective(100px) rotateX(3deg) translateY(2px) scale(1.001);
  background: linear-gradient(to bottom, #dfdfdf 0%, #f9f9f9 100%);
}
.bold {
  font-weight: bold;
}

.name {
  font-size: 1.1rem;
}
.population {
  font-size: 0.9rem;
  position: absolute;
  right: 20px;
  color: var(--clear-text);
}
