* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: black;
  font-weight: 200;
  color: white;
}

.panels {
  min-height: 100vh;
  overflow: hidden;
  display: flex;
}

.panel {
  display: flex;
  flex-direction: column;
  flex: 1;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  filter: opacity(0.8);
  box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.1);
  transition: font-size 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11),
    flex 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11), background 0.2s;
}

.panel:hover {
  filter: none;
}
.panel1 {
  background-image: url(https://i.pinimg.com/736x/13/b1/89/13b189440f57a6cca39135cc3d6296d2.jpg);
}
.panel2 {
  background-image: url(https://i.pinimg.com/736x/d0/b4/a5/d0b4a5c6e77039d7344754b2ed5a491f.jpg);
}
.panel3 {
  background-image: url(https://i.pinimg.com/736x/5b/70/75/5b7075a991f11af4b98c5e97f7531aac.jpg);
}
.panel4 {
  background-image: url(https://i.pinimg.com/736x/1e/de/d6/1eded69eed40704b69fac23adc246615.jpg);
}
.panel5 {
  background-image: url(https://i.pinimg.com/736x/8f/07/5e/8f075e8c9b24efb3046937911561385c.jpg);
}

/* Flex Items */
.panel > p {
  margin: 0;
  width: 100%;
  transition: all 0.5s;
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.panel > p:first-child {
  transform: translateY(-100%);
  color: transparent;
}
.panel.open-active > p:first-child {
  transform: translateY(0);
  color: white;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
}
.panel > p:last-child {
  transform: translateY(100%);
  color: transparent;
}
.panel.open-active > p:last-child {
  transform: translateY(0);
  color: white;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
}

.panel p:nth-child(2) {
  font-size: 2rem;
}

.panel.open {
  flex: 5;
  font-size: 20px;
  filter: none;
}

@media only screen and (max-width: 600px) {
  .panels {
    flex-direction: column;
  }
}
